<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Workframes/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Javascripts/navbarattop.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Javascripts/adminpage.js"></script>

    <!--<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">-->
</head>
<body style="height: 100%">
    <nav>
        <ul id="NavbarAtTop">
            <li><a href="http://localhost:5000">Home</a></li>
            <li><a href="/wishlist">Wishlist</a></li>         
        </ul>
    </nav>
   
  <div class="flex-container" id="main-container" style="overflow: auto; width: 100%;">

    <div class="sidenav" id="sidenav" style="float: left">
        <div class="SearchBar text-center">        
        <form class="form-inline">
            <div class="navbardiv">
            <br>
            <b><h3><div id="UserLoggedInNotification"></div></h3></b>
            <br>
            </div>
            <br>
        </form>
        </div>
    </div>
    
    <div id="table" class="container1">
        <table id="userTable">
            <tr>
                <th>Username</th>
                <th>Password</th> 
                <th>Email</th>
                <th>Postal Code</th>
                <th>Housenumber</th>
                <th>Adminbool</th>
                <th>Privacy Wishlist</th>
            </tr>

        </table>
    </div>
    <br>
    <div>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Username" id="Username"> Username </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Password" id="Password"> Password </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Email" id="Email"> Email </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Postal code" id="Postal_Code"> Postal code </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="House number" id="House_Number"> House no. </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Adminbool" id="Admin_Bool"> Adminbool </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Privacy wishlist" id="Privacy_Wishlist"> Privacy wishlist </input><br><br>
        <button id="FindUser" type="button" class="buttonAtAdminpage"> Find user with username </button><br>
        <button id="UpdateUser" type="button" class="buttonAtAdminpage"> Update user with username </button><br>
        <button id="DeleteUser" type="button" class="buttonAtAdminpage"> Delete user with username </button><br>
        <div id='NotFoundAlert'> nothing yet, see function showalert in js</div>
    </div>

</div>
    <br>
    <footer id="footer"><b>        Copyright © Group 2</b></footer>
    <button type="button" id="test"> </button>
    <br>



  </body>
</html>
