<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="http://localhost:5000/static/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/static/GraphItems/GraphStylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Javascripts/graph.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Workframes/handlebars-v4.0.5.js"></script>

</head>
<body style="margin: 0;" id="loginbg">
    <nav>
        <ul id="NavbarAtTop">
            <li><a href="http://localhost:5000">Home</a></li>
            <li><a href="/wishlist">Wishlist</a></li>

        </ul>
    </nav>
  <div class="flex-container" id="main-container">
    <div id="content" class="content">
        <div id="MonthYearBoth">
            <button id="SwitchYearMonth" class="button">Switch Year/Month Controls</button>
            <button id="SalesOfItem" class="button">Show Sales of Item</button>
            <select id="Items"></select>
            <select id="Years"></select>
        </div>
        <div id="MonthButtons">
            <select id="MonthMenu">
                <option value="1">January</option>
                <option value="2">February</option>  
                <option value="3">Maart</option>  
                <option value="4">April</option>  
                <option value="5">Mei</option>  
                <option value="6">Juni</option>
                <option value="7">July</option>  
                <option value="8">Augustus</option>  
                <option value="9">September</option>  
                <option value="10">Oktober</option>  
                <option value="11">November</option>  
                <option value="12">December</option>  
            </select><!--
            <button id="TotalTransactions" class="button">Show Total Transactions</button>
            <button id="UserRegistration" class="button">Show User Registration</button>-->
        </div>
        <div id=YearButtons>

        </div>

        <h1 id=GraphTitle>Please select what you want to view</h1>
        <div id="Graph"></div>
        



    </div>
 </div>
  <br>
  <footer id="footer"><b>        Copyright © Group 2</b></footer>
  <br>
  </body>
</html>
