<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Javascripts/mainpage.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Workframes/handlebars-v4.0.5.js"></script>
    <!--<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">-->
</head>
<body style="margin: 0;">
    <nav>
        <ul id="NavbarAtTop">
            <li><a href="http://localhost:5000">Home</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/favourites">Favourites</a></li>
        </ul>
    </nav>
   
  <div class="flex-container" id="main-container">

    <div class="sidenav">
        <div class="SearchBar text-center">        
        <form class="form-inline">
            <div class="navbardiv">
            <br>
            <b><h3><div id="UserLoggedInNotification"></div></h3></b>
            <br>
            </div>
            <br>
            <div class="navbardiv">
            <input type="text" id="search_input" class="form-control" size="25" placeholder="Product name"><button id="searchbutton" type="button" id="FindTheAnimals">Search</button><br>
                <!--<div data-role="rangeslider">
                    <label for="price-min">Price:</label>
                    <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
                    <label for="price-max">Price:</label>
                    <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                </div>-->

            <br><br> <p style="font-size:10.5px" id="additionaloptions">Additional filter options</p>
            </div>

            <div class="options">

            <p id="classdroptext"><b> Class </b></p> 
            <select id="selectMenu">
                <option value="1">All</option>
                <option value="2">Mammal</option>  
                <option value="3">Fish</option>  
                <option value="4">Amphibian</option>  
                <option value="5">Reptile</option>  
                <option value="6">Bird</option>
                <option value="7">Insect</option>  
            </select><br>
			

            <p id="searchdroptext"><b> Price </b></p>
			<select id="selectPrice" class="SearchDropDown">
                <option value="1">Any Price</option>
                <option value="2">0-100</option>
                <option value="3">100-500</option>  
                <option value="4">500-2000</option>  
                <option value="5">2000-10000</option>  
                <option value="6">10000+</option>  
            </select>

            </div>

            <div class="navbardiv2">
            <p id="checkboxtext"><b> Continents </b></p>
            <div class="checkboxes">
            <input type="checkbox" id="checkboxNA" name="cb" value="North America" checked> North America</input><br>
            <input type="checkbox" id="checkboxSA" name="cb" value="South America" checked> South America</input><br>
            <input type="checkbox" id="checkboxAUS" name="cb" value="Australia" checked> Australia</input><br>
            <input type="checkbox" id="checkboxEU" name="cb" value="Europe" checked> Europe</input><br>
            <input type="checkbox" id="checkboxASIA" name="cb" value="Asia" checked> Asia</input><br>
            <input type="checkbox" id="checkboxAFR" name="cb" value="Africa" checked> Africa</input><br>
            <input type="checkbox" id="checkboxANTA" name="cb" value="Antarctica" checked> Antarctica</input>
            </div>

            <button type="button" id="CHECKthemALL">Check all boxes</button>
            </div>
            
            <div class="navbardiv">
            <p id="stockboxtext"><b> Stock </b></p>
            <div class="checkboxes">
            
            <input type="checkbox" id="checkboxOnlyStock" name="cbtest" value="In stock"> Only in stock</input>
            
            </div>
            <br>
            </div>            
            <br><br><br><br><br><br><br><br><br><br>
            <!--<input id="slider" type="range" min="0" max="20" />
            <input id="value" />-->
        </form>
    </div>
    </div>

    <div id="product" class="container1 offset-left-330">
    
    </div>

    
  </div>
    <br>
    <footer id="footer"><b>        Copyright © Group 2</b></footer>
    <button type="button" id="test"> </button>
    <br>


    <!--<script>
        $(document).ready(function() {

        });
    </script> -->


  </body>
</html>
