<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:5000/static/test.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:5000/static/handlebars-v4.0.5.js"></script>

</head>
<body style="margin: 0;">
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
  <div class="flex-container">

    <div class="sidenav">
        <div class="SearchBar text-center">        
        <form class="form-inline">
            <br>
            <input type="text" id="search_input" class="form-control" size="25" placeholder="Naam product">

            <select id="selectMenu">
                <option value="1">All</option>
                <option value="2">Mammal</option>  
                <option value="3">Fish</option>  
                <option value="4">Amphibian</option>  
                <option value="5">Reptile</option>  
                <option value="6">Bird</option>  
            </select> <br>


            <input type="checkbox" id="checkboxNA" name="cb" value="North America" checked>North America</input><br>
            <input type="checkbox" id="checkboxSA" name="cb" value="South America" checked>South America</input><br>
            <input type="checkbox" id="checkboxAUS" name="cb" value="Australia" checked>Australia</input><br>
            <input type="checkbox" id="checkboxEU" name="cb" value="Europe" checked>Europe</input><br>
            <input type="checkbox" id="checkboxASIA" name="cb" value="Asia" checked>Asia</input><br>
            <input type="checkbox" id="checkboxAFR" name="cb" value="Africa" checked>Africa</input><br>
            <input type="checkbox" id="checkboxANTA" name="cb" value="Antartica" checked>Antarctica</input>
            
        </form>
    </div>
    </div>

    <div id="product" class="container">
    
    </div>

  </div>

  </body>
</html>
