<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:5000/static/Javascripts/mainpage.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:5000/static/Workframes/handlebars-v4.0.5.js"></script>

</head>
<body style="margin: 0;">
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:5000">Home</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

  <div class="flex-container">

    <div class="sidenav">
        <div class="SearchBar text-center">        
        <form class="form-inline">
            <br>
            <input type="text" id="search_input" class="form-control" size="25" placeholder="Naam product">

            <select id="selectMenu">
                <option value="1">All</option>
                <option value="2">Mammal</option>  
                <option value="3">Fish</option>  
                <option value="4">Amphibian</option>  
                <option value="5">Reptile</option>  
                <option value="6">Bird</option>
                <option value="7">Insect</option>  
            </select> <br>
			
			<select id="selectPrice" class="SearchDropDown">
                <option value="1">Any Price</option>
                <option value="2">0-100</option>
                <option value="3">100-500</option>  
                <option value="4">500-2000</option>  
                <option value="5">2000-10000</option>  
                <option value="6">10000+</option>  
            </select> <br>

            <input type="checkbox" id="checkboxNA" name="cb" value="North America" checked>North America</input>
            <!-- align right doesnt work in mustbeinstockbool, also tried it in css -->
            <input type="checkbox" id="checkboxOnlyStock" name="cbtest" value="In stock" align="right">Only show in stock</input>
            <br>
            <input type="checkbox" id="checkboxSA" name="cb" value="South America" checked>South America</input><br>
            <input type="checkbox" id="checkboxAUS" name="cb" value="Australia" checked>Australia</input><br>
            <input type="checkbox" id="checkboxEU" name="cb" value="Europe" checked>Europe</input><br>
            <input type="checkbox" id="checkboxASIA" name="cb" value="Asia" checked>Asia</input><br>
            <input type="checkbox" id="checkboxAFR" name="cb" value="Africa" checked>Africa</input><br>
            <input type="checkbox" id="checkboxANTA" name="cb" value="Antarctica" checked>Antarctica</input><br><br>
            <button type="button" id="CHECKthemALL">Check all boxes</button>
            <button type="button" id="FindTheAnimals">Find the animals</button>
            
        </form>
    </div>
    </div>

    <div id="product" class="container1">
    
    </div>


  </div>
    <br>
    <footer id="footer"><b>        Copyright © GroupX</b></footer>
    <br>
  </body>
</html>
