<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Javascripts/login.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Workframes/handlebars-v4.0.5.js"></script>

</head>
<body style="margin: 0;" id="loginbg">
    <nav>
        <ul>
            <li><a href="http://localhost:5000">Home</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li class ="logOutButton"><a href= "http://localhost:5000/logout">Log Out</a></li>
        </ul>
    </nav>
  <div class="flex-container" id="main-container">
    <div id="content" class="content"> 
        <form>
            <fieldset id="logfieldset">
                <legend>Login information</legend> 
                <p>  <br> </p>
                <input type="text" id="loginusername" name="username" size="25" placeholder="Username"><br><br>
                <input type="text" id="loginpassword" name="password" size="25" placeholder="Password"><br><br>
                <button type="button" class="button">Log In</button>
            </fieldset>
        </form>


    </div> 
 </div>
  <br>
  <footer id="footer"><b>        Copyright © Group 2</b></footer>
  <br>
  </body>
</html>