<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:5000/static/products.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:5000/static/handlebars-v4.0.5.js"></script>

</head>
<body style="margin: 0;">
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
  <div class="flex-container">

    <div class="sidenav">Aside 1</div>

    <div id="content" class="content"> 
        <div id="product" class="container">
        
        </div>
    </div> 
  </div>

  </body>
</html>
