<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Javascripts/user.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Workframes/handlebars-v4.0.5.js"></script>
</head>
<body style="margin: 0;">
    <nav>
        <ul id="NavbarAtTop">
            <li class="filler"></li>
            <li><a href="http://localhost:5000">Home</a></li>
            <li><a href="/wishlist">Wishlist</a></li>         
        </ul>
    </nav>
    <div class="sidenav">
       <div class="sliderdiv">
        <label id="wishlist-label"> Wishlist public </label>
        <label class="switch">
            <input type="checkbox" id="privacy-checkbox" onclick="privacy_OnClick()">
            <div class="slider round">
            </div>
        </label>
       </div>
    </div>
    <div class="flex-container" id="main-container">

    <div id="ordered_product" class="container1 offset-left-330">
    <h1 id="order_header"align="center" top="20px">ORDER HISTORY</h1>

    </div>
        </div>
</body>
</html>
