@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#NavbarAtTop{
  display: flex;
}

#NavbarAtTop .filler{
  flex: 1 0 0;
}

nav li{
  flex: 0 1 auto;
  padding-left: 30px;
  padding-right: 30px;
}

nav{
  background: #f1f3f5;
  position: fixed;
  width: 100%;
  z-index: 5;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav a{
  text-decoration: none;
  text-align: center;
  color: #171717;
  font-size: 16px;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  padding: 10px;
}

#checkboxMustbeinstockbool{
  float: right;
  text-align: right;

}
/*TODO: the box doesnt align yet*/

nav a:hover{
    color: #FE980F;
    font-size: 600;
}

@media screen and (min-width: 800px){
  nav ul{
    display:flex;
    justify-content: flex-end;
  }
}


#search_input{
}

.check-form{

}

#additionaloptions{
  margin-left: 28.5%;
}

#selectMenu{
  width: 100%;
  margin-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#checkboxtext{
  margin-bottom: 5px;
  color: #B2B2B2;
  text-transform: uppercase;
  text-align: left;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 600;
}

#searchdroptext{
  margin-bottom: 5px;
  color: #B2B2B2;
  text-transform: uppercase;
  text-align: left;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 600;
}

#classdroptext{
  margin-bottom: 5px;
  color: #B2B2B2;
  text-transform: uppercase;
  text-align: left;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 600;
}

.options{
  padding-left: 10px;
  border-radius: 3px;
  padding-right: 10px;
}

.checkboxes{
  margin-bottom: 5px;
  color: #b2b2b2;
  text-transform: uppercase;
  text-align: left;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
}



#stockboxtext{
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 20%;
}

#CHECKthemALL{
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 29%;
  margin-top: 2px;
  margin-right: 20%;
  padding-left: 3px;
}

#selectPrice{
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}

body {
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  background-color:lightgray;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  background-color: lightgray;
  min-height: 100%;
}

.sidenav {
  background-color: white;
  flex-basis: 20%;
  border-right: 1px solid rgba(0,0,0,0.4);
  flex-shrink: 0;
  position: fixed;
  height:100%;
  max-width: 35%;
  width: 300px;
}

#main-container{
  height:100%;
  padding-top:39px;
  background-color: white;
}

#container{
  margin : 20px;
}

.partshit{
  background: white;
}

#productprice{
  text-align: center;
  color: #FE980F;
  font-size: 24px;
  font-weight: 700;
}

#product-title{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0px 5px 0px;
}
.button{
  text-align: center;
  margin: auto;
  background: rgba(158, 158, 158, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border: none;
  border-radius: 2px;
  height: 36px;
  min-width: 64px;
  padding: 0px 16px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  line-height: 36px;
  vertical-align: middle;
  transition: background 0.3s ease;
}

.button:hover{
  color: white;
  background: #FE980F;
}

.favourite-button{
  float: left;
  width: 50%;
  font-size: 20px;
}

.wishlist-button{
  float: right;
  width: 50%;
}

#productpricediv{
  vertical-align: bottom;
}

article{
  overflow: hidden;
  width: 400px;
  background:white;
  margin-bottom: 20px;
  box-sizing: border-box;
  flex-basis: 22%;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
article.OrderedProducts {
  margin-right: 50px;
  margin-top: 30px;
}
article h2{
  text-align: center;
  font-size: 28px;
  margin:10px 0;
}

article .product-image {
  position: relative;
  display: inline-block;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

article .product-buttons{

  position: absolute;
  top: 10px;
  right: 5px;
}

article .product-buttons img{
  filter: invert(100%);
  opacity: 0.4;
}

article .product-buttons img:hover{
  filter: invert(100%);
  opacity: 1.0;
}

article .product-buttons button{
  border-radius: 1000px;
  width: 36px;
  height: 36px;
  min-width: 0px;
  min-height: 0px;
  padding: 5px;
  margin-right: 5px;
  background-color: rgba(254, 152, 15, 0.67)
}

article .product-image p {
  display: block;
  position: absolute;
  bottom: 20px;
  padding-left: 10px;
  font-size: 24px;
  color: white;
  font-weight: 300;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

article img{
  width: 100%;
  /*visibility: hidden;*/
}

.offset-left-330{
  padding-left: 330px;
}

.container1{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  background-color: white;
  width: 100%;
  height: 20%;
}

#order_header{
  position: absolute;
  top: 50px;
}

.container2{
  width:100%;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
}

.container3{
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
}

.content{
  width:100%;
  padding: 10px;
}

#footer{
  text-align:center;
}

#loginstuff{
  margin:auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}

#loginusername{
  width: 25%;
  height: 20px;
}

#loginpassword{
  width: 25%;
  height: 20px;
}

#loginbg{
  /*background-color: white;*/
}

#regfieldset{
  width: 30%;
  margin:auto;
  padding: 10px;
  text-align: center;
}

#logfieldset{
  width: 30%;
  height: 30%;
  margin:auto;
  padding: 10px;
  text-align: center;
}

#loginusername{
  width: 40%;
  height: 20px;
}

#loginpassword{
  width: 40%;
  height: 20px;
}

#username{
  width: 40%;
  height: 20px;
}

#password{
  width: 40%;
  height: 20px;
}

#postal_code{
  width: 40%;
  height: 20px;
}

#house_number{
  width: 40%;
  height: 20px;
}

#email{
  width: 40%;
  height: 20px;
}

#confirmpassword{
  width: 40%;
  height: 20px;
}

#UserLoggedInNotification{
  align-content: center;

  margin-left: 10%;
  margin-right: 10%
}

.navbardiv{
  padding-left: 10px;
  border-radius: 3px;
  padding-right: 10px;
}

.navbardiv2{
  padding-left: 10px;
  border-radius: 3px;
  padding-right: 10px;
}

#wishlist-redirectdiv{
  overflow: hidden; /* will contain if #first is longer than #second */
}

#wishlist-redirection{
  float:left; /* add this */
}

#redirect-timer{
  overflow: hidden;
  margin-left: 15px;
  padding-left: 15px;
}

.form-control{
    background: white;
    border: medium none;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    width: 290px;
    background-image: url(../static/images/icon.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 250px;
    text-transform: uppercase;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FE980F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FE980F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sliderdiv{
  padding-left: 10px;
  border-radius: 3px;
  padding-right: 10px;
  padding-top: 100px;
  text-transform: uppercase;
  color: #B2B2B2;
  display: flex;
  align-items: center;
}

#wishlist-label{
  margin-right: 10px;
}


/*all the adminpage css*/

#table{
  width: fit-content;
  padding: 15px;
  padding-top: 12px;
  margin-top: 3px;
  display: block;
  overflow-y: auto;
  max-width: 65%;
  max-height: 55%;
  float: right;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

td{
  text-align: left;
}

.inputAtAdminpage{
  max-height: fit-content;
  min-height: 12px;
  max-width: 50%;
  padding: 2px;
  text-anchor: start;
  margin-top: 10px !important;
}

.buttonAtAdminpage{
  height: fit-content;
  min-height: 30px;
  padding: 5px;
  margin: 5px;
}

#NotFoundAlert{
    width: auto;
    display: inline-block;
    padding: 3px
}

.tableRow {
    cursor: pointer
}