*{
  font-family: Verdana;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

nav{
  background: #333;
  position: fixed;
  width: 100%;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav a{
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  padding: 10px;
}

#checkboxMustbeinstockbool{
  float: right;
  text-align: right;
  
}
/*TODO: the box doesnt align yet*/

nav a:hover{
  background-color: lightgray;
}

@media screen and (min-width: 800px){
  nav ul{
    display:flex;
    justify-content: flex-start;
  }

  nav li{
    flex: 1 1 0;
  }
}

#search_input{
  height: 20px;
  width: 70%;
}

#searchbutton{
  height: 26px;
  width:28.6%;
}

#additionaloptions{
  margin-left: 28.5%;
}

#selectMenu{
  width: 100%;
  margin-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#checkboxtext{
  margin-top: 10px;
  margin-left: 33%;
  margin-right: 20%;
}

#searchdroptext{
  margin-top: 10px;
  margin-left: 33%;
  margin-right: 20%;
}

#classdroptext{
  margin-top: 10px;
  margin-left: 33%;
  margin-right: 20%;
}

.options{
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 3px;
  border-radius: 3px;
}

.checkboxes{
  border: 1px solid black;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 3px;
  border-radius: 3px;
}

#stockboxtext{
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 20%;
}

#CHECKthemALL{
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 29%;
  margin-top: 2px;
  margin-right: 20%;
  padding-left: 3px;
}

#selectPrice{
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;    
}

body {
  margin: 0;
  height: 100%;
}
body {
  height: 100%;
  background-color:lightgray;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  background-color: lightgray;
  min-height: 100%;
}

.sidenav {
  background-color: #DBDDE3;
  flex-basis: 20%;
  border: 1px solid black;
  flex-shrink: 0;
  position: fixed;
  height:100%;
  max-width: 35%
}

#main-container{
  height:100%;
  padding-top:39px;
  background-color: white;
}

#container{
  margin : 20px;
}

.partshit{
  background: white;
}

#productprice{
  text-align: right;
}

#productpricediv{
  vertical-align: bottom;
}

article{
  background:white;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid grey;
  flex-basis: 30%;
}

article h2{
  text-align: center;
  font-size: 28px;
  margin:10px 0;
}

.offset-left-330{
  padding-left: 330px;
}

.container1{
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
  /*background-color: #FFAB52;*/
  background-color: #EFEFEF;
}

.container2{
  width:100%;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
}

.container3{
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
}

.content{
  width:100%;
  padding: 10px;
}

#footer{
  text-align:center;
}

#loginstuff{
  margin:auto; 
  padding: 10px;
  text-align: center;
  width: 100%;
}

#loginusername{
  width: 25%;
  height: 20px;
}

#loginpassword{
  width: 25%;
  height: 20px;
}

#loginbg{
  /*background-color: white;*/
}

#regfieldset{
  width: 30%;
  margin:auto;  
  padding: 10px; 
  text-align: center; 
}

#logfieldset{
  width: 30%;
  height: 30%;
  margin:auto;  
  padding: 10px; 
  text-align: center; 
}

#loginusername{ 
  width: 40%; 
  height: 20px; 
} 
 
#loginpassword{ 
  width: 40%; 
  height: 20px; 
}

#username{
  width: 40%; 
  height: 20px; 
}

#password{
  width: 40%; 
  height: 20px; 
}

#postal_code{
  width: 40%; 
  height: 20px; 
}

#house_number{
  width: 40%; 
  height: 20px; 
}

#email{
  width: 40%; 
  height: 20px; 
}

#confirmpassword{
  width: 40%; 
  height: 20px; 
}

#UserLoggedInNotification{
  align-content: center;

  margin-left: 10%;
  margin-right: 10%;
}

.navbardiv{
  border-bottom: 1px solid black;
  width: 100%;
}

.navbardiv2{
  width: 100%;
}

#wishlist-redirectdiv{
  overflow: hidden; /* will contain if #first is longer than #second */
}

#wishlist-redirection{
  float:left; /* add this */
}

#redirect-timer{
  overflow: hidden;
  margin-left: 15px;
  padding-left: 15px;
}


/*all the adminpage css*/

#table{
  width: fit-content;
  padding: 15px;
  display: block;
  overflow-y: auto;
  max-width: 65%;
  max-height: 55%;
  float: right;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

td{
  text-align: left;
}

.inputAtAdminpage{
  max-height: fit-content;
  min-height: 12px;
  max-width: 50%;
  padding: 2px;
  text-anchor: start;
  margin-top: 10px !important;
}

.buttonAtAdminpage{
  height: fit-content;
  min-height: 30px;
  padding: 5px;
  margin: 5px;
}

#NotFoundAlert{
    width: auto;
    display: inline-block;
    padding: 3px
}