.GraphBar{
  height: 100%;
  background: none;
  float: left;
  text-align: center;
}

.NoColour{
  background-color: none;
  width: 100%;
}

#Graph{
  display: inline-block;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.ColoredGraphBar{
  background-color: red;
  width: 100%;
  box-shadow: 3px 1px 8px grey;
  border-radius: 5px;
}

.BarItself{
  height: 90%;
  width: 100%;
}

#content{
  text-align: center;
}

#MonthYearBoth{
  display: inline-block;
}

#GraphButtons{
  display: inline-block;
}

.GraphButtonBar{
  margin-top: 3px;
  margin-bottom: 3px;
  
}