<!DOCTYPE HTML>
<HTML>
<HEAD>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/Javascripts/404.js"></script>

</HEAD>
<BODY>
    <audio id="kgg" autoplay = "autoplay">
        <source src="/static/images/pandaadio.ogg" type="audio/ogg" loop>
        <source src="/static/images/pandaadio.mp3" type="audio/mpeg">
    </audio>

    <img src="/static/images/Red_Panda_Scared_Surprised.gif" alt="panda" width = "100%" height="100%">
</BODY>
</HTML>