<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Javascripts/navbar.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Javascripts/cart.js"></script>
    <script type="text/javascript" src="http://localhost:5000/static/Workframes/handlebars-v4.0.5.js"></script>
    <!--<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">-->
</head>
<body style="margin: 0;">
    <nav>
        <ul id="NavbarAtTop">
            <li class="filler"></li>
            <li><a href="http://localhost:5000">Home</a></li>
            <li><a href="/cart">Cart</a></li>        
        </ul>
    </nav>
    <div class="flex-container" id="main-container">
        <div id="content" class="content"> 
            <br><br><br>
            <table id="cart" border="1" style="width:70%; margin:auto" class="PrettyTable">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="cartBody">

                    </tbody>
            </table>

            <br> 
            <p id="cart-text" style="width:70%; margin:auto" align="right"></p> 
            <br><br><br>
        </div>
    </div>
</body>
</html>