<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/static/Adminfeatures.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/Workframes/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/static/Javascripts/navbar.js"></script>
    <script type="text/javascript" src="/static/Javascripts/adminpage.js"></script>

    <!--<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">-->
</head>
<body style="height: 100%">
    <nav>
        <ul id="NavbarAtTop">
            <li><a href="/">Home</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
    </nav>
   
  <div class="flex-container" id="main-container" style="overflow: auto; width: 100%;">
    
    <div id="table" class="container1">
        <table id="userTable" class="PrettyTable">
            <tr>
                <th>Username</th>
                <th>Password</th> 
                <th>Email</th>
                <th>Postal Code</th>
                <th>Housenumber</th>
                <th>Adminbool</th>
                <th>Privacy Wishlist</th>
                <th>Blocked</th>
            </tr>

        </table>
    </div>
    <br>
    <div>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Username" id="Username"> Username </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Password" id="Password"> Password </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Email" id="Email"> Email </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="Postal code" id="Postal_Code"> Postal code </input><br>
        <input type="text" class="form-control inputAtAdminpage" size="25" placeholder="House number" id="House_Number"> House no. </input><br>
        <div class="sliderdiv" style="padding-top: 5px">
            <label class="switch AdminSlider">
                <input type="checkbox" id="admin-checkbox">
                <div class="slider round">
                </div>
            </label>
            <label id="admin-label"> Admin bool </label>
        </div>
        <div class="sliderdiv">
            <label class="switch AdminSlider">
                <input type="checkbox" id="privacy-checkbox">
                <div class="slider round">
                </div>
            </label>
            <label id="privacy-label"> Privacy wishlist </label>
        </div>
        <div class="sliderdiv">
            <label class="switch AdminSlider">
                <input type="checkbox" id="blocked-checkbox">
                <div class="slider round">
                </div>
            </label>
            <label id="blocked-label"> Blocked bool </label>
        </div>
        <button id="FindUser" type="button" class="button buttonAtAdminpage"> Find user with username </button><br>
        <button id="UpdateUsername" type="button" class="button buttonAtAdminpage">Update user its username </button>
        <button id="UpdateUser" type="button" class="button buttonAtAdminpage"> Update user with username </button><br>
        <button id="DeleteUser" style="float: left" type="button" class="button buttonAtAdminpage"> Delete user with username </button><br><br><br>
        <div id='NotFoundAlert' style="margin-left: 5px; margin-top: 2px;"> nothing yet, see function showalert in js</div>
    </div>
    <div>
        <button id="GoToGraphs" type="button" onclick="window.location = '/graph';" class="button buttonAtAdminpage">Go to the sale graphs</button>
    </div>

</div>
    <br>
    <footer id="footer"><b>        Copyright © Group 2</b></footer>
    <br>



  </body>
</html>
