<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="/static/Adminfeatures.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/Javascripts/login.js"></script>
    <script type="text/javascript" src="/static/Javascripts/navbar.js"></script>
    <script type="text/javascript" src="/static/Workframes/handlebars-v4.0.5.js"></script>


</head>
<body style="margin: 0;" id="loginbg">
    <nav>
        <ul id="NavbarAtTop">
            <li><a href="/">Home</a></li>
            <li><a href="/cart">Cart</a></li>          
        </ul>
    </nav>
  <div class="flex-container" id="main-container">
      <div id='NotFoundAlert' style="margin-left: 1%; margin-top: 8%"> nothing yet, see function showalert in js</div>
      <div id="content" class="content" style="margin-bottom: 30%">
          <form>
              <fieldset id="logfieldset">
                  <legend>Login information</legend>
                  <p>  <br> </p>
                  <input type="text" id="loginusername" name="username" size="25" placeholder="Username"><br><br>
                  <input type="password" id="loginpassword" name="password" size="25" placeholder="Password"><br><br>
                  <button type="button" class="button">Log In</button>
                  <p id="logintext"> </p>
              </fieldset>
          </form>



      </div>
  </div>
  <br>
  <footer id="footer"><b>        Copyright © Group 2</b></footer>
  <br>
  </body>
</html>